/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/

@font-face {
  font-family: PTMono;
  src: url(/assets/PTM55FT.ttf);
}

@font-face {
  font-family: Andada;
  src: url(/assets/Andada.ttf);
}

@font-face {
  font-family: Trocchi;
  src: url(/assets/Trocchi.ttf);
}

/* line 45, ../../app/assets/stylesheets/_variables.sass */
.size-big {
  font-size: 26px;
}

/* line 47, ../../app/assets/stylesheets/_variables.sass */
.size-medium {
  font-size: 14px;
}

/* line 49, ../../app/assets/stylesheets/_variables.sass */
.size-small {
  font-size: 12px;
}

/* line 51, ../../app/assets/stylesheets/_variables.sass */
.hidden {
  display: none;
}
@font-face {
  font-family: PTMono;
  src: url(/assets/PTM55FT.ttf);
}

@font-face {
  font-family: Andada;
  src: url(/assets/Andada.ttf);
}

@font-face {
  font-family: Trocchi;
  src: url(/assets/Trocchi.ttf);
}

/* line 45, ../../app/assets/stylesheets/_variables.sass */
.size-big {
  font-size: 26px;
}

/* line 47, ../../app/assets/stylesheets/_variables.sass */
.size-medium {
  font-size: 14px;
}

/* line 49, ../../app/assets/stylesheets/_variables.sass */
.size-small {
  font-size: 12px;
}

/* line 51, ../../app/assets/stylesheets/_variables.sass */
.hidden {
  display: none;
}

/* line 3, ../../app/assets/stylesheets/controls.sass */
.control-menu, #star-options, #recent-thought-walls, #layout-selector, #theme-selector, #share-link {
  font-family: Arial;
  font-size: 12px;
  top: 33px;
  padding: 10px;
  position: absolute;
  z-index: 10;
}
/* line 10, ../../app/assets/stylesheets/controls.sass */
.control-menu a, #star-options a, #recent-thought-walls a, #layout-selector a, #theme-selector a, #share-link a {
  color: #ebebeb;
}
/* line 12, ../../app/assets/stylesheets/controls.sass */
.control-menu a:hover, #star-options a:hover, #recent-thought-walls a:hover, #layout-selector a:hover, #theme-selector a:hover, #share-link a:hover {
  color: #cbcbcb;
}

/* line 15, ../../app/assets/stylesheets/controls.sass */
#control-bar {
  font-family: Arial;
  font-size: 12px;
  border-bottom: 1px solid black;
  box-shadow: #101010 3px 3px 7px 0px;
  position: relative;
  top: -8px;
  left: -8px;
  height: 40px;
  margin-right: -16px;
  background-color: #424242;
  color: #ebebeb;
  z-index: 20;
}
/* line 28, ../../app/assets/stylesheets/controls.sass */
#control-bar a {
  color: #ebebeb;
}
/* line 30, ../../app/assets/stylesheets/controls.sass */
#control-bar a:hover {
  color: #cbcbcb;
}
/* line 32, ../../app/assets/stylesheets/controls.sass */
#control-bar #controls-left {
  position: absolute;
  top: 9px;
  left: 10px;
}
/* line 36, ../../app/assets/stylesheets/controls.sass */
#control-bar #controls-right {
  position: absolute;
  top: 5px;
  right: 10px;
}
/* line 40, ../../app/assets/stylesheets/controls.sass */
#control-bar .control-middle, #control-bar .control-left, #control-bar .control-right, #control-bar .control-standalone, #control-bar #star-options, #control-bar #recent-thought-walls, #control-bar #layout-selector, #control-bar #theme-selector, #control-bar #share-link {
  padding: 5px 10px 5px 10px;
  box-shadow: #676767 0px 2px 2px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
/* line 46, ../../app/assets/stylesheets/controls.sass */
#control-bar .control-left {
  border-radius: 14px 0px 0px 14px;
}
/* line 49, ../../app/assets/stylesheets/controls.sass */
#control-bar .control-right {
  border-radius: 0px 14px 14px 0px;
}
/* line 52, ../../app/assets/stylesheets/controls.sass */
#control-bar .control-standalone {
  border-radius: 14px 14px 14px 14px;
  margin-right: 5px;
  margin-left: 5px;
}

/* line 58, ../../app/assets/stylesheets/controls.sass */
#star-options {
  min-width: 250px;
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  border-radius: 0px 0px 7px 7px;
  border-width: 0px 1px 1px 1px;
  background-color: #424242;
  opacity: 0;
  display: none;
}
/* line 71, ../../app/assets/stylesheets/controls.sass */
#star-options ul {
  list-style-type: none;
  position: relative;
  left: -40px;
}

/* line 75, ../../app/assets/stylesheets/controls.sass */
#recent-thought-walls {
  border-radius: 0px 0px 7px 7px;
  border-width: 0px 1px 1px 1px;
  background-color: #424242;
  min-width: 250px;
  opacity: 0;
  display: none;
}

/* line 85, ../../app/assets/stylesheets/controls.sass */
#layout-selector {
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 7px 7px;
  border-width: 0px 1px 1px 1px;
  background-color: #424242;
  opacity: 0;
  display: none;
  right: 162px;
}

/* line 96, ../../app/assets/stylesheets/controls.sass */
.layout-preview, #layout-current-preview {
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

/* line 103, ../../app/assets/stylesheets/controls.sass */
#layout-current-preview {
  border-radius: 5px;
  margin: 5px;
  width: 18px;
  height: 18px;
}

/* line 110, ../../app/assets/stylesheets/controls.sass */
#theme-selector {
  padding-right: 5px;
  padding-bottom: 5px;
  border-radius: 0px 0px 7px 7px;
  border-width: 0px 1px 1px 1px;
  background-color: #424242;
  opacity: 0;
  display: none;
  right: 105px;
}

/* line 121, ../../app/assets/stylesheets/controls.sass */
.theme-preview, #theme-current-preview {
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}

/* line 130, ../../app/assets/stylesheets/controls.sass */
#theme-current-preview {
  margin: 5px;
  width: 15px;
  height: 15px;
}

/* line 136, ../../app/assets/stylesheets/controls.sass */
#share-link {
  border-radius: 0px 0px 7px 7px;
  border-width: 0px 1px 1px 1px;
  background-color: #424242;
  opacity: 0;
  display: none;
  position: absolute;
  right: 0px;
}
/* line 146, ../../app/assets/stylesheets/controls.sass */
#share-link input {
  font-family: Arial;
  font-size: 12px;
  color: #1b1b1b;
  background-color: #ebebeb;
}
@font-face {
  font-family: PTMono;
  src: url(/assets/PTM55FT.ttf);
}

@font-face {
  font-family: Andada;
  src: url(/assets/Andada.ttf);
}

@font-face {
  font-family: Trocchi;
  src: url(/assets/Trocchi.ttf);
}

/* line 45, ../../app/assets/stylesheets/_variables.sass */
.size-big {
  font-size: 26px;
}

/* line 47, ../../app/assets/stylesheets/_variables.sass */
.size-medium {
  font-size: 14px;
}

/* line 49, ../../app/assets/stylesheets/_variables.sass */
.size-small {
  font-size: 12px;
}

/* line 51, ../../app/assets/stylesheets/_variables.sass */
.hidden {
  display: none;
}

/* line 3, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x {
  position: relative;
}
/* line 6, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x pre {
  font-size: 12px;
}
/* line 9, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x a {
  text-decoration: none;
}
/* line 12, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #content {
  position: absolute;
  left: 20px;
  top: 60px;
  width: 98%;
  height: 300px;
  z-index: 0;
}
/* line 19, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* line 27, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #overlay-close {
  font-size: 26px;
  border: 1px solid;
  width: 100%;
  height: 25px;
  text-align: center;
}
/* line 33, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
}
/* line 38, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-box-overlay-background {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 42, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-box-overlay {
  height: 100%;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 47, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-overlay {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 50, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-box, body.layout-2x #thought-form {
  width: 440px;
  height: 262px;
  float: left;
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}
/* line 58, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought, body.layout-2x .thought-history-text {
  overflow: hidden;
  border: none;
  margin-top: -10px;
  font-size: 14px;
  word-wrap: break-word;
  padding: 5px 5px 23px 5px;
  height: 220px;
}
/* line 66, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-bottom-section-standard {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 24px;
  bottom: 0px;
}
/* line 71, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-top-section-overlay {
  width: 100%;
  height: 37px;
}
/* line 74, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-controls, body.layout-2x .thought-history-controls {
  position: absolute;
  bottom: 3px;
  right: 5px;
}
/* line 78, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-controls-overlay {
  position: absolute;
  top: 5px;
  right: 25px;
}
/* line 82, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-votes-overlay {
  position: relative;
  top: 5px;
  left: 15px;
}
/* line 86, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-votes {
  position: absolute;
  bottom: 3px;
  left: 5px;
}
/* line 90, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-histories-box {
  position: relative;
  z-index: 10;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 96, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-history-entry {
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 100, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-history-text {
  margin-top: 0px;
}
/* line 105, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-history-bottom-section {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 24px;
  bottom: 0px;
}
/* line 111, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #thought-wall-form {
  width: 100%;
  position: relative;
}
/* line 114, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #update_thought_wall_spinner {
  display: none;
  position: absolute;
  top: 0px;
  right: 20px;
}
/* line 119, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #thought-form {
  height: 262px;
}
/* line 122, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .new-thought-box {
  opacity: 0;
  width: 0px;
}
/* line 125, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #thought-new-remaining-characters {
  float: left;
}
/* line 132, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x input, body.layout-2x #thought-form textarea, body.layout-2x #thought-edit textarea, body.layout-2x #thought-edit-overlay textarea {
  border: none;
}
/* line 134, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #thought-form textarea {
  width: 435px;
  height: 225px;
  overflow: auto;
  resize: none;
}
/* line 140, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #thought-edit textarea {
  font-family: PTMono;
  width: 435px;
  height: 225px;
}
/* line 145, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #thought-edit-overlay {
  height: 100%;
}
/* line 147, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #thought-edit-overlay form {
  height: 100%;
}
/* line 149, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x #thought-edit-overlay textarea {
  font-family: PTMono;
  font-size: 14px;
  width: 95%;
  height: 85%;
}
/* line 155, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .thought-add-button {
  float: right;
}
/* line 157, ../../app/assets/stylesheets/layout-2x.sass */
body.layout-2x .title-entry {
  font-size: 26px;
  width: 95%;
}
@font-face {
  font-family: PTMono;
  src: url(/assets/PTM55FT.ttf);
}

@font-face {
  font-family: Andada;
  src: url(/assets/Andada.ttf);
}

@font-face {
  font-family: Trocchi;
  src: url(/assets/Trocchi.ttf);
}

/* line 45, ../../app/assets/stylesheets/_variables.sass */
.size-big {
  font-size: 26px;
}

/* line 47, ../../app/assets/stylesheets/_variables.sass */
.size-medium {
  font-size: 14px;
}

/* line 49, ../../app/assets/stylesheets/_variables.sass */
.size-small {
  font-size: 12px;
}

/* line 51, ../../app/assets/stylesheets/_variables.sass */
.hidden {
  display: none;
}

/* line 3, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list {
  position: relative;
}
/* line 6, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list pre {
  font-size: 12px;
}
/* line 9, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list a {
  text-decoration: none;
}
/* line 12, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #content {
  position: absolute;
  left: 20px;
  top: 60px;
  width: 98%;
  height: 300px;
  z-index: 0;
}
/* line 19, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* line 27, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #overlay-close {
  font-size: 26px;
  border: 1px solid;
  width: 100%;
  height: 25px;
  text-align: center;
}
/* line 33, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
}
/* line 38, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-box-overlay-background {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 42, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-box-overlay {
  height: 100%;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 47, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-overlay {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 50, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-box, body.layout-list #thought-form {
  width: 95%;
  height: 20px;
  float: left;
  position: relative;
  border-radius: 5px;
  margin-top: 3px;
}
/* line 57, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought, body.layout-list .thought-history-text {
  overflow: hidden;
  border: none;
  margin: 0px;
  font-size: 14px;
  word-wrap: break-word;
  height: 20px;
  padding-left: 5px;
}
/* line 65, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought p, body.layout-list .thought-history-text p {
  margin: 3px 0px 0px 0px;
}
/* line 68, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-bottom-section-standard {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 20px;
  width: 150px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
/* line 76, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-top-section-overlay {
  width: 100%;
  height: 37px;
}
/* line 79, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-controls, body.layout-list .thought-history-controls {
  position: absolute;
  bottom: 3px;
  right: 5px;
}
/* line 83, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-controls-overlay {
  position: absolute;
  top: 5px;
  right: 25px;
}
/* line 87, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-votes-overlay {
  position: relative;
  top: 5px;
  left: 15px;
}
/* line 91, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-votes {
  position: absolute;
  bottom: 3px;
  left: 5px;
}
/* line 95, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-histories-box {
  position: relative;
  z-index: 10;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 101, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-history-entry {
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 105, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-history-text {
  margin-top: 0px;
}
/* line 110, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-history-bottom-section {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 24px;
  bottom: 0px;
}
/* line 116, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #thought-wall-form {
  width: 100%;
  position: relative;
}
/* line 119, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #update_thought_wall_spinner {
  display: none;
  position: absolute;
  top: 0px;
  right: 20px;
}
/* line 124, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #thought-form {
  height: 22px;
}
/* line 127, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .new-thought-box {
  opacity: 0;
  width: 0px;
}
/* line 130, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #thought-new-remaining-characters {
  position: absolute;
  top: 5px;
  right: 100px;
}
/* line 139, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list input, body.layout-list #thought-form textarea, body.layout-list #thought-edit textarea, body.layout-list #thought-edit-overlay textarea {
  border: none;
}
/* line 141, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #thought-form textarea {
  width: 70%;
  height: 16px;
  overflow: auto;
  resize: none;
}
/* line 147, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #thought-edit textarea {
  font-family: PTMono;
  width: 80%;
  height: 15px;
  resize: none;
}
/* line 153, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #thought-edit-overlay {
  height: 100%;
}
/* line 155, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #thought-edit-overlay form {
  height: 100%;
}
/* line 157, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list #thought-edit-overlay textarea {
  font-family: PTMono;
  font-size: 14px;
  width: 95%;
  height: 85%;
}
/* line 163, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .thought-add-button {
  position: absolute;
  top: 0px;
  right: 0px;
}
/* line 167, ../../app/assets/stylesheets/layout-list.sass */
body.layout-list .title-entry {
  font-size: 26px;
  width: 95%;
}
@font-face {
  font-family: PTMono;
  src: url(/assets/PTM55FT.ttf);
}

@font-face {
  font-family: Andada;
  src: url(/assets/Andada.ttf);
}

@font-face {
  font-family: Trocchi;
  src: url(/assets/Trocchi.ttf);
}

/* line 45, ../../app/assets/stylesheets/_variables.sass */
.size-big {
  font-size: 26px;
}

/* line 47, ../../app/assets/stylesheets/_variables.sass */
.size-medium {
  font-size: 14px;
}

/* line 49, ../../app/assets/stylesheets/_variables.sass */
.size-small {
  font-size: 12px;
}

/* line 51, ../../app/assets/stylesheets/_variables.sass */
.hidden {
  display: none;
}

/* line 3, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard {
  position: relative;
}
/* line 6, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard pre {
  font-size: 12px;
}
/* line 9, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard a {
  text-decoration: none;
}
/* line 12, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #content {
  position: absolute;
  left: 20px;
  top: 60px;
  width: 98%;
  height: 300px;
  z-index: 0;
}
/* line 19, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* line 27, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #overlay-close {
  font-size: 26px;
  border: 1px solid;
  width: 100%;
  height: 25px;
  text-align: center;
}
/* line 33, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 30;
}
/* line 38, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-box-overlay-background {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 42, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-box-overlay {
  height: 100%;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
/* line 47, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-overlay {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 50, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-box, body.layout-standard #thought-form {
  width: 215px;
  height: 125px;
  float: left;
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}
/* line 58, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought, body.layout-standard .thought-history-text {
  overflow: hidden;
  border: none;
  margin-top: -10px;
  font-size: 14px;
  word-wrap: break-word;
  padding: 5px 5px 23px 5px;
  height: 82px;
}
/* line 66, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-bottom-section-standard {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 24px;
  bottom: 0px;
}
/* line 71, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-top-section-overlay {
  width: 100%;
  height: 37px;
}
/* line 74, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-controls, body.layout-standard .thought-history-controls {
  position: absolute;
  bottom: 3px;
  right: 5px;
}
/* line 78, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-controls-overlay {
  position: absolute;
  top: 5px;
  right: 25px;
}
/* line 82, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-votes-overlay {
  position: relative;
  top: 5px;
  left: 15px;
}
/* line 86, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-votes {
  position: absolute;
  bottom: 3px;
  left: 5px;
}
/* line 90, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-histories-box {
  position: relative;
  z-index: 10;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px;
}
/* line 96, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-history-entry {
  position: relative;
  border-radius: 5px;
  margin-bottom: 5px;
}
/* line 100, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-history-text {
  margin-top: 0px;
}
/* line 105, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-history-bottom-section {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 24px;
  bottom: 0px;
}
/* line 111, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #thought-wall-form {
  width: 100%;
  position: relative;
}
/* line 114, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #update_thought_wall_spinner {
  display: none;
  position: absolute;
  top: 0px;
  right: 20px;
}
/* line 119, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #thought-form {
  height: 262px;
}
/* line 122, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .new-thought-box {
  opacity: 0;
  width: 0px;
}
/* line 125, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #thought-new-remaining-characters {
  float: left;
}
/* line 132, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard input, body.layout-standard #thought-form textarea, body.layout-standard #thought-edit textarea, body.layout-standard #thought-edit-overlay textarea {
  border: none;
}
/* line 134, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #thought-form textarea {
  width: 210px;
  height: 225px;
  overflow: auto;
  resize: none;
}
/* line 140, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #thought-edit textarea {
  font-family: PTMono;
  width: 210px;
  height: 95px;
}
/* line 145, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #thought-edit-overlay {
  height: 100%;
}
/* line 147, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #thought-edit-overlay form {
  height: 100%;
}
/* line 149, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard #thought-edit-overlay textarea {
  font-family: PTMono;
  font-size: 14px;
  width: 95%;
  height: 85%;
}
/* line 155, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .thought-add-button {
  float: right;
}
/* line 157, ../../app/assets/stylesheets/layout-standard.sass */
body.layout-standard .title-entry {
  font-size: 26px;
  width: 95%;
}
@font-face {
  font-family: PTMono;
  src: url(/assets/PTM55FT.ttf);
}

@font-face {
  font-family: Andada;
  src: url(/assets/Andada.ttf);
}

@font-face {
  font-family: Trocchi;
  src: url(/assets/Trocchi.ttf);
}

/* line 45, ../../app/assets/stylesheets/_variables.sass */
.size-big {
  font-size: 26px;
}

/* line 47, ../../app/assets/stylesheets/_variables.sass */
.size-medium {
  font-size: 14px;
}

/* line 49, ../../app/assets/stylesheets/_variables.sass */
.size-small {
  font-size: 12px;
}

/* line 51, ../../app/assets/stylesheets/_variables.sass */
.hidden {
  display: none;
}

/* line 3, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas {
  color: #100d06;
  font-family: Andada;
  background-color: #cfd1d0;
  background-image: url("themes/canvas-background.jpg");
  background-repeat: repeat;
}
/* line 10, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas a {
  color: #3a3428;
}
/* line 12, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas a:hover {
  color: gray;
}
/* line 17, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas #overlay {
  background-color: #ded5c6;
}
/* line 19, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas #overlay-close {
  background-color: #ded5c6;
  border-color: #100d06;
}
/* line 24, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .thought-box-overlay-background {
  background-color: #ded5c6;
}
/* line 28, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .thought-box, body.theme-canvas #thought-form {
  box-shadow: #676767 4px 4px 15px 2px;
  border: 1px solid #100d06;
}
/* line 32, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .thought-bottom-section-standard {
  border: 1px solid #1b1b1b;
  bottom: -1px;
  border-top: 1px solid #1b1b1b;
  background: rgba(207, 209, 209, 0.85);
  box-shadow: #1b1b1b -1px -1px 3px 0px inset;
}
/* line 38, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .thought-top-section-overlay {
  background-color: #cfd1d0;
}
/* line 44, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .thought-histories-box {
  border: 1px solid #1b1b1b;
  background-color: #cfd1d0;
}
/* line 47, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .thought-history-entry {
  border: 1px solid #100d06;
}
/* line 49, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .thought-history-text {
  margin-top: 0px;
}
/* line 54, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .thought-history-bottom-section {
  background: rgba(207, 209, 209, 0.85);
}
/* line 59, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas #thought-form {
  font-family: Andada;
}
/* line 65, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .positive {
  background: rgba(100, 153, 86, 0.5);
}
/* line 67, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .neutral {
  background: rgba(255, 255, 255, 0.4);
}
/* line 69, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .negative {
  background: rgba(196, 103, 82, 0.8);
}
/* line 72, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas input, body.theme-canvas #thought-form textarea, body.theme-canvas #thought-edit textarea, body.theme-canvas #thought-edit-overlay textarea {
  border: 1px solid;
  font-family: Trocchi;
  color: #100d06;
  background-color: #cfd1d0;
  box-shadow: #676767 4px 4px 15px 2px;
}
/* line 78, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas #thought-form textarea {
  background-color: #cfd1d0;
  font-family: Andada;
}
/* line 82, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas #thought-edit textarea {
  background-color: #cfd1d0;
  font-family: Andada;
}
/* line 86, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas #thought-edit-overlay {
  height: 100%;
}
/* line 88, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas #thought-edit-overlay form {
  height: 100%;
}
/* line 90, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas #thought-edit-overlay textarea {
  background-color: #cfd1d0;
  font-family: Andada;
  font-size: 14px;
  width: 95%;
  height: 85%;
}
/* line 98, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .title-entry {
  font-size: 26px;
  width: 95%;
}
/* line 102, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .star-toggle a {
  font-size: 26px;
  color: #1b1b1b;
}
/* line 105, ../../app/assets/stylesheets/theme-canvas.sass */
body.theme-canvas .star-toggle a:hover {
  color: #424242;
}
@font-face {
  font-family: PTMono;
  src: url(/assets/PTM55FT.ttf);
}

@font-face {
  font-family: Andada;
  src: url(/assets/Andada.ttf);
}

@font-face {
  font-family: Trocchi;
  src: url(/assets/Trocchi.ttf);
}

/* line 45, ../../app/assets/stylesheets/_variables.sass */
.size-big {
  font-size: 26px;
}

/* line 47, ../../app/assets/stylesheets/_variables.sass */
.size-medium {
  font-size: 14px;
}

/* line 49, ../../app/assets/stylesheets/_variables.sass */
.size-small {
  font-size: 12px;
}

/* line 51, ../../app/assets/stylesheets/_variables.sass */
.hidden {
  display: none;
}

/* line 3, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark {
  color: #ebebeb;
  font-family: PTMono;
  background-color: #1b1b1b;
  background-image: url("themes/dark-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 11, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark a {
  color: #ff9729;
}
/* line 13, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark a:hover {
  color: #e3cf57;
}
/* line 18, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark #overlay {
  background-color: #1b1b1b;
}
/* line 20, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark #overlay-close {
  background-color: #1b1b1b;
  border-color: #ebebeb;
}
/* line 25, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .thought-box-overlay-background {
  background-color: #1b1b1b;
}
/* line 29, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .thought-box, body.theme-dark #thought-form {
  border: 1px solid #424242;
}
/* line 32, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .thought-bottom-section-standard {
  background-color: black;
}
/* line 34, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .thought-top-section-overlay {
  background-color: black;
}
/* line 40, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .thought-histories-box {
  border: 1px solid #ebebeb;
  background-color: black;
}
/* line 43, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .thought-history-entry {
  border: 1px solid #424242;
}
/* line 45, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .thought-history-text {
  margin-top: 0px;
}
/* line 50, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .thought-history-bottom-section {
  background-color: black;
}
/* line 55, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark #thought-form {
  font-family: PTMono;
}
/* line 61, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .positive {
  background: rgba(128, 255, 128, 0.1);
}
/* line 64, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .negative {
  background: rgba(130, 32, 32, 0.2);
}
/* line 67, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark input, body.theme-dark #thought-form textarea, body.theme-dark #thought-edit textarea, body.theme-dark #thought-edit-overlay textarea {
  color: #ebebeb;
  background-color: #1b1b1b;
  border: 1px solid #424242;
}
/* line 71, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark #thought-form textarea {
  background-color: #222222;
  font-family: PTMono;
}
/* line 75, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark #thought-edit textarea {
  background-color: #222222;
  font-family: PTMono;
}
/* line 79, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark #thought-edit-overlay {
  height: 100%;
}
/* line 81, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark #thought-edit-overlay form {
  height: 100%;
}
/* line 83, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark #thought-edit-overlay textarea {
  background-color: #222222;
  font-family: PTMono;
  font-size: 14px;
  width: 95%;
  height: 85%;
}
/* line 91, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .title-entry {
  font-size: 26px;
  width: 95%;
}
/* line 95, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .star-toggle a {
  font-size: 26px;
  color: #ff9729;
}
/* line 98, ../../app/assets/stylesheets/theme-dark.sass */
body.theme-dark .star-toggle a:hover {
  color: #e3cf57;
}
