#control-bar
  #controls-left
    =link_to "new", "/", class: "control-left"
    =link_to "recent", "javascript:;", id: "recent-thought-walls-link", class: "control-right"
    #recent-thought-walls
  #controls-right
    =link_to ".CSV", export_thought_wall_path(@thought_wall.code, format: "csv"), class: "control-standalone"