#control-bar
  #controls-left
    =link_to "\u2605", "javascript:;", id: 'star-control', class: "control-left"
    =link_to "recent", "javascript:;", id: "recent-thought-walls-link", class: "control-middle"
    =link_to "new", "/", class: "control-right"
  #controls-right
    %img#theme-current-preview{src: ''}
    =link_to "\u25be", "javascript:;", class: "control-right", id: "theme-selector-control"
    =link_to ".csv", export_thought_wall_path(@thought_wall.code, format: "csv"), class: "control-left"
    =link_to "share", "javascript:;", id: "share-link-control", class: "control-right"

#star-options
  -if current_user
    =link_to "logout", '/signout'
    %hr
    -if current_user.thought_walls.count > 0
      -current_user.thought_walls.each do |tw|
        %span{id: "star-menu-item-#{tw.code}"}
          %br
          =link_to "\u2605 #{tw.title}", thought_wall_path(tw.code)
    -else
      ="Nothing starred yet"
  -else
    login with
    %table
      %tr
        %td
          =link_to image_tag("login_buttons/google_oauth2_32.png", title: 'Google', alt: 'Google'), '/auth/google_oauth2'
          
#recent-thought-walls
#theme-selector
  =render partial: "controls/theme_selector"
#share-link
  =url_field_tag 'share-link-text', thought_wall_url(@thought_wall.code), size: thought_wall_url(@thought_wall).length + 12