.layout-preview
  =link_to image_tag("layouts/layout-standard-preview.png"), "javascript:;", id: "layout-standard", class: "control-right layout-selector"
.layout-preview
  =link_to image_tag("layouts/layout-2x-preview.png"), "javascript:;", id: "layout-2x", class: "control-right layout-selector"
.layout-preview
  =link_to image_tag("layouts/layout-list-preview.png"), "javascript:;", id: "layout-list", class: "control-right layout-selector"