.layout-preview
  =link_to image_tag("layouts/layout-standard.png"), "javascript:;", id: "layout-standard", class: "control-right theme-selector"
.layout-preview
  =link_to image_tag("layouts/layout-2x.png"), "javascript:;", id: "layout-2x", class: "control-right theme-selector"
.layout-preview
  =link_to image_tag("layouts/layout-list.png"), "javascript:;", id: "layout-list", class: "control-right theme-selector"