=form_for @thought_wall, :remote => true do |f|
  -if current_user && current_user.thought_walls.include?(@thought_wall)
    %span.star-toggle=link_to "\u2605", thought_wall_path(@thought_wall, star: false), method: "put"
  -elsif current_user
    %span.star-toggle=link_to "\u2606", thought_wall_path(@thought_wall, star: true), method: "put"
  -else
    %span.star-toggle=link_to "\u2606"
  =f.text_field :title, :class => "title-entry"
#update_thought_wall_spinner
  =image_tag "spinner.gif"  
