%p.size-big="#{@thought_count} thoughts captured in #{@thought_wall_count} cortices"
%span.size-big
  CORTEX: a virtual scratch pad and brainstorming tool, with collaboration.
%p.size-medium
  Sometimes you just want to type up some really quick ideas, and you don't want to deal with any of these hassles...
%p.size-medium
  %ul
    %li="login"
    %li="sign up"
    %li="give someone your email address"
    %li="fill out a captcha"
    %li="login with your facebook/twitter account"
    %li="worry about keeping it private"
    %li="provide a list of users who can access it"
    %li="worry about saving it for later"
%p.size-medium
  ="...or really anything else. Sometimes all you want is a virtual scratch pad that anyone can add to. Nothing more."
%p.size-medium
  %span
    That's what
  %span.size-big
    CORTEX
  %span
    is.
%p.size-medium
  That's all it is.
%p.size-medium
  Thankfully, that's all it's ever going to try to be.
%span.size-big
  CORTEX is free and
  =link_to "open source!", "https://github.com/normalocity/cortex"