$ ->
  window.toggleVisibilityOfRecentThoughtWallsDiv = ->
    if (recentThoughtWallsDiv.css('opacity') is "1")
      recentThoughtWallsDiv.animate({opacity: 0.0}, 100, ->
        recentThoughtWallsDiv.hide())
    else
      recentThoughtWallsDiv.show()
      recentThoughtWallsDiv.animate({opacity: 1.0}, 100)

  window.updateRecentThoughtWallsDiv = ->
    if supportsHtml5Storage()
      recentCodes  = getRecentCodes()
      recentTitles = getRecentTitlesFromCodes(recentCodes)
      
      recentThoughtWallsDiv.empty()
      
      index = 0
      while index < recentCodes.length
        displayTitle = recentTitles[index]
        if displayTitle.length > 25
          displayTitle = displayTitle.substring(0, 25) + " ..."
        if displayTitle.trim().length is 0
          displayTitle = "(no title)"
          
        recentThoughtWallsDiv.append('<a href="/'+recentCodes[index]+'">'+displayTitle+'</a><br />')
        index++

  getRecentCodes = ->
    recentCodesList = localStorage["recentThoughtWallCodes"]
    if recentCodesList
      recentCodesArray = recentCodesList.split(" ")
    else
      []
      
  getRecentTitlesFromCodes = (codes) ->
    recentTitlesList = []
    index = 0
    while index < codes.length
      recentTitlesList.push(localStorage[ codes[index]+".title" ])
      index++
      
    recentTitlesList

  window.addThoughtWallCodeToRecentList = (code, title) ->
    if supportsHtml5Storage()
      if notAlreadyInRecentList(code)
        addNewRecentEntry(code, title)
      
      capRecentListAt(10)
      
  window.updateRecentCodeTitle = (code, title) ->
    localStorage[code+".title"] = title

  notAlreadyInRecentList = (code) ->
    if supportsHtml5Storage()
      localStorage["recentThoughtWallCodes"].indexOf(code) is -1
    else
      false
  
  addNewRecentEntry = (code, title) ->
    if supportsHtml5Storage()
      if localStorage["recentThoughtWallCodes"].length is 0
        localStorage["recentThoughtWallCodes"] += code
      else
        localStorage["recentThoughtWallCodes"] = code + " " + localStorage["recentThoughtWallCodes"]
      
      localStorage[code+".title"] = title
  
  capRecentListAt = (cap) ->
    recentCodes = getRecentCodes()
    if recentCodes.length > cap
      oldestCode = recentCodes.pop()
      localStorage["recentThoughtWallCodes"] = recentCodes.join(" ")
      localStorage.removeItem(oldestCode+".title")