$color-light-grey: #ebebeb
$color-light-medium-grey: #cbcbcb
$color-dark-grey: #1b1b1b
$color-medium-grey: #424242
$color-star-yellow: #F7B103

$dark-theme-light-grey: #ebebeb
$dark-theme-dark-grey:  #1b1b1b
$dark-theme-dim-grey: #222
$dark-theme-medium-grey: #424242
$dark-theme-color-links: #FF9729
$dark-theme-color-links-hover: #E3CF57

$light-theme-light-brown: #ded5c6
$light-theme-dark-brown: #100d06
$light-theme-pale-grey: #eaeaea
$light-theme-color-links: #3A3428
$light-theme-color-links-hover: #808080

$size-big:    26px
$size-medium: 14px
$size-small:  12px

$layer-content: 0
$layer-menu: 10
$layer-controls: 20
$layer-overlay: 30

@font-face
  font-family: PTMono
  src: url(/assets/PTM55FT.ttf)

@font-face
  font-family: Andada
  src: url(/assets/Andada.ttf)

@font-face
  font-family: Trocchi
  src: url(/assets/Trocchi.ttf)

$font-dark: PTMono
$font-light-copy: Andada
$font-light-headline: Trocchi

.size-big
  font-size: $size-big
.size-medium
  font-size: $size-medium
.size-small
  font-size: $size-small
.hidden
  display: none
