$dark-theme-light-grey: #ebebeb
$dark-theme-dark-grey:  #1b1b1b
$dark-theme-dim-grey: #222
$dark-theme-medium-grey: #424242
$dark-theme-color-links: #FF9729
$dark-theme-color-links-hover: #E3CF57

$paper-theme-light-grey: #efefef
$paper-theme-dark-grey: #030C22
$paper-theme-mellow-grey: #ddd
$paper-theme-yellowed: #e0e0e0
$paper-theme-color-links: #008C9E
$paper-theme-color-links-hover: #00B4CC

$size-big:    26px
$size-medium: 14px
$size-small:  12px

$layer-menu: 10
$layer-overlay: 20

@font-face
  font-family: PTMono
  src: url(/assets/PTM55FT.ttf)

  font-family: Andada
  src: url(/assets/Andada.ttf)

  font-family: Trocchi
  src: url(/assets/Trocchi.ttf)

$font-dark: PTMono, sans-serif
$font-paper-copy: Andada
$font-paper-headline: Trocchi

.size-big
  font-size: $size-big
.size-medium
  font-size: $size-medium
.size-small
  font-size: $size-small
.hidden
  display: none