$dark-theme-light-grey: #ebebeb
$dark-theme-dark-grey:  #1b1b1b
$dark-theme-dim-grey: #222
$dark-theme-medium-grey: #424242
$dark-theme-color-links: #FF9729
$dark-theme-color-links-hover: #E3CF57

$canvas-theme-light-brown: #ded5c6
$canvas-theme-dark-brown: #100d06
$canvas-theme-pale-grey: #cfd1d0
$canvas-theme-color-links: #3A3428
$canvas-theme-color-links-hover: #808080

$size-big:    26px
$size-medium: 14px
$size-small:  12px

$layer-menu: 10
$layer-overlay: 20

@font-face
  font-family: PTMono
  src: url(/assets/PTM55FT.ttf)

  font-family: Andada
  src: url(/assets/Andada.ttf)

  font-family: Trocchi
  src: url(/assets/Trocchi.ttf)

$font-dark: PTMono, sans-serif
$font-canvas-copy: Andada
$font-canvas-headline: Trocchi

.size-big
  font-size: $size-big
.size-medium
  font-size: $size-medium
.size-small
  font-size: $size-small
.hidden
  display: none