@import "variables"

#control-bar
  position: relative
  top: -8px
  left: -8px
  height: 30px
  margin-right: -16px
  background-color: $dark-theme-dark-grey
  a
    color: $color-light-grey
    &:hover
      color: $color-light-medium-grey
  #control-links
    position: absolute
    top: 5px
    left: 20px
    color: $color-light-grey
  #recent-thought-walls
    background-color: $dark-theme-dark-grey
    opacity: 0.0
    position: absolute
    left: 20px
    top: 25px
    padding: 10px
    z-index: $layer-menu