$color-light-grey: #ebebeb
$color-dark-grey:  #1b1b1b

body
  color: $color-light-grey
  font-family: 'PT Mono', sans-serif
  background-color: $color-dark-grey
  background-image: url('brain-dark.jpg')
  background-position: top center
  background-repeat: no-repeat
  
a
  color: #FF9729
  text-decoration: none
  &:hover
    color: E3CF57

.font-big
  font-size: 40px

.font-medium
  font-size: 26px

.font-small
  font-size: 14px

#nav-bar
  border-bottom: 1px solid
  height: 25px
  #nav-credit
    position: absolute
    left: 20px
  #nav-links
    position: absolute
    right: 20px
  
#content
  position: absolute
  left: 20px
  top: 60px