.thought-box-overlay-background
  .thought-box-overlay{class: custom_styles(thought), id: "thought-box-#{thought.id}"}
    .thought
      =simple_format(auto_link(thought.text))
    =render :partial => "thoughts/bottom_section_overlay", :locals => {thought: thought}