.thought-votes
  %span.size-big=link_to("-", thought_path(thought,  :vote => "down"), {:method => :put, :remote => true})
  %span.size-big=link_to("+", thought_path(thought,  :vote => "up"),    {:method => :put, :remote => true})
  %span.size-big=thought.score
